body, html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #184d47;
}

.btn-success {
  background-color: #1b8057 !important;
}

.btn-success:hover {
  background-color: #1c9c69 !important;
}

.btn-outline-success {
  border-color: #1b8057 !important;
  color: #1b8057 !important;
}

.btn-outline-success:hover {
  background-color: #1b8057 !important;
  color: white !important;
}